@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wi0ovg');
  src:  url('../fonts/icomoon.eot?wi0ovg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wi0ovg') format('truetype'),
    url('../fonts/icomoon.woff?wi0ovg') format('woff'),
    url('../fonts/icomoon.svg?wi0ovg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-user:before {
  content: "\e971";
}
